
body {
    background-color: #23272A;
}

div#guild{
    margin-left: 45px;
    text-align: center;
    float: left;
}

div#guild img {
    border-radius: 100%;
}

div#guild a {
    font-size: unset;
    background-color: #E91E63;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}

div#guilds {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}