
body {
    background-color: #23272A;
}

div#guilds {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

div#guilds div{
    margin: 15px;
    width: 150px;
    height: 225px;
    text-align: center;
    background-color: #18191c;
    float: left;
    border-radius: 10px;
}

div#guilds div p {
    margin: 5px 10px 5px 10px;
}


div#guilds div button {
    background-color: #7289da;
    border-color: #7289da;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    outline: 0;
    margin: 5px 0px 0px 0px;
}

div#guilds div button:last-child{
    background-color: #E91E63;
    border-color: #E91E63;
}

div#guilds div button a {
    text-decoration: none;
    color: #dcddde;
}

div#guilds div img {
    border-radius: 100%;
    margin-top: 15px;
}

/*

div#guilds div a {
    font-size: unset;
    background-color: #E91E63;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}*/